extends ../templates/default.pug
block content
    
    //📣 : Popup HTML
    #demo.popup.popup--sm
        .popup__wrap
            .popup__header.clearfix
                h5.popup__title Provide Your Review
                button.popup__close
            .popup__content.clearfix
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            .popup__footer
                button.button Submit Review
                
    
    //📣 : Button To Open Popup
    button.button(type="button" data-popup="demo") Open Popup
    button.button(type="button" data-popup="demo" data-popup-autoclose="true") Open Autoclosing Popup
