.ss-tabs.ss-tabs--material
	ul.ss-tabs__list
		li
			a.ss-tabs__tab(href='javascript:;')
				i.material-icons account_circle
				span About Me
		li
			a.ss-tabs__tab(href='javascript:;')
				i.material-icons insert_photo
				span Photos
		li
			a.ss-tabs__tab(href='javascript:;')
				i.material-icons ondemand_video
				span Videos
		li
			a.ss-tabs__tab(href='javascript:;')
				i.material-icons settings
				span Settings
	ul.ss-tabs__content
		li
			a.ss-tabs__accordion(href='javascript:;')
				i.material-icons account_circle
				span About Me
			.ss-tabs__data
				| Tab 0 Data
		li
			a.ss-tabs__accordion(href='javascript:;')
				i.material-icons insert_photo
				span Photos
			.ss-tabs__data
				| Tab 1 Data
		li
			a.ss-tabs__accordion(href='javascript:;')
				i.material-icons ondemand_video
				span Videos
			.ss-tabs__data
				| Tab 2 Data
		li
			a.ss-tabs__accordion(href='javascript:;')
				i.material-icons settings
				span Settings
			.ss-tabs__data
				| Tab 3 Data
