doctype html 
html(lang="en")
	head
		include ../includes/meta.pug
		block head
		block scripts
			script.
				var baseUrl = "https://sage-site-51.myshopify.com/";
				var productName = "oneplus-7.js";
		title Product Page
	body
		include ../includes/header.pug
		.wrap
			block content
				h1 Default Content!
		include ../includes/footer.pug
