/*
* 📣 : Override browser defaults
*/
body {
	font-family: font("content");
	padding: 0;
	margin: 0;
}
* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
table {
	border-collapse: collapse;
}

/*
* 📣 : Typography
*/
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 500;
}

/*
* 📣 : Common Classes
*/
.ul-reset {
	list-style: none;
	margin: 0;
	padding: 0;
}

/*
* 📣 : Common Animation Keyframes
*/
@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}

/*
* 📣 : Custom scrollbar
*/
// ::-webkit-scrollbar {
//     width: 7px;
// }
// ::-webkit-scrollbar-track {
//     background: #ddd;
//     border-radius: 5px;
// }
// ::-webkit-scrollbar-thumb {
//     border-radius: 5px;
//     background: #666;
// }
