table{
    width: 100%;
}
.title{
    border-bottom: 1px solid #dadada;
    margin-top: 100px;
}

.primary-color{
    background: color('primary');
    color: fontColor('primary');
}
.accent-color{
    background: color('accent');
    color: fontColor('accent');
}



.typography{
    td{
        border: 1px solid #dadada;
        padding: 10px;
    }
}
.colors{
    border-collapse: collapse;
    td{
        padding: 10px;
        text-align: center;
    }
}
.buttons{
    td{
        padding: 10px 0;
        //text-align: center;
    }
}
.inputs{
    td{
        padding: 5px 10px;
    }
}
