/*
* 📣 : Inputs Config
*/
//Variable Names Pattern : element-property--modifiers
$input-borderRadius:5px;
$input-height--normal:35px;
$input-height--small:28px;
$input-height--large:50px;


input[type="text"] input[type="email"],
input[type="password"],
input[type="url"],
input[type="number"],
select {
    height: $input-height--normal;
    width: 80px;
    padding: 0px 10px;
    font-size: fontSize('normal');
    font-family: font('content');
    font-size: 14px;
    color: #202020;
    border-radius: 20px;
    border-color: #eee;

    &::placeholder {
        color: $ternory-color;
    }
}