.ss-container{
    max-width: map-get($container-width,'lg');
    margin:0 auto;
    padding-left: 50px;
    padding-right: 50px;
    &.is-fluid{
        max-width: none;
    }
    @include lg-down{
        max-width: map-get($container-width,'md');
        padding-left: 40px;
        padding-right: 40px;
    }
    @include md-down{
        max-width: map-get($container-width,'sm');
        padding-left: 30px;
        padding-right: 30px;
    }
    @include sm-down{
        max-width: map-get($container-width,'xs');
        padding-left: 20px;
        padding-right: 20px;
    }
}
