/*
* 📣 : Color Values
*/
@function color($key: "primary") {
    @return map-get($colors, $key);
}
$colors:(
    'primary':#ddbb00,
    'accent':#ff0000
);
$primary-color:#ddbb00;
$accent-color:#ff0000;
$ternory-color:#202020;
/*
* 📣 : Font Color Values
*/
@function fontColor($key: "primary") {
    @return map-get($font-colors, $key);
}
$font-colors:(
    'primary':#ffffff, //In contrast to primary color from 'colors' map.
    'accent':#ffffff //In contrast to accent color from 'colors' map.
);
