/*
* 📣 : Font Values
*/

@import url("https://fonts.googleapis.com/css?family=Montserrat:500,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@function font($key: "content") {
	@return map-get($fonts, $key);
}
$fonts: (
	"title": "Prompt",
	"content": "Open Sans",
	"system":
		'-apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"'
);

/*
* 📣 : Font Size Values
*/
@function fontSize($key: "normal") {
	@return map-get($font-size, $key);
}
$font-size: (
	"x-small": 0.8rem,
	"small": 0.9rem,
	"normal": 1rem,
	"large": 1.2rem,
	"x-large": 1.4rem
);
