input,
select {
	&:focus {
		outline: none;
	}
}

.product-box {
	display: flex;
	max-width: 80%;
	margin: 50px auto;
}

.product-box__image {
	flex: 0 0 320px;

	img {
		width: 320px;
		height: 450px;
		object-fit: contain;
	}
}

.product-box__content {
	flex: 1;
	margin-left: 20px;
}

.product-box__title {
	font-size: 40px;
	font-weight: 600;
	width: 80%;
	font-family: serif;
	margin: 20px 0 0;
}

.product-box__text {
	font-size: 15px;
}

.product-box__price {
	display: flex;
	align-items: center;
	margin-top: 30px;

	label {
		font-size: 30px;
		font-weight: 600;
		margin: 0;
	}

	span {
		color: #777;
		margin-left: 20px;
		font-size: 18px;
		position: relative;
		text-decoration: line-through;
	}
}

.product-color {
	border: 1px solid #eee;
	padding: 5px 7px;
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: relative;
}

.product-color__checkbox {
	position: relative;
	cursor: pointer;

	&+.product-color__checkbox {
		margin-left: 5px;
	}
}

.product-color__checkbox input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

.checkmark {
	display: block;
	height: 25px;
	width: 25px;
	background-color: #eee;
	border-radius: 50%;
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.product-color__checkbox input:checked~.checkmark:after {
	display: block;
}

.product-color__checkbox .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	transform: rotate(45deg);
}

.product-quantity {
	border: 1px solid #eee;
	border-radius: 20px;
	width: 120px;
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.qua {
	background: none;
	color: #000;
	padding: 0;
	margin: 0;
	width: 20px;
	justify-content: center;
	font-size: 20px;

	&:hover {
		background: none;
		border: none;
		font-weight: normal;
	}
}

.product-info {
	display: flex;
	margin-bottom: 50px;

	>li {

		>label {
			display: block;
			font-size: 12px;
			text-align: center;
			margin-bottom: 5px;
			text-transform: uppercase;
			color: #555;
		}

		input[type="text"] {
			border: none;
			width: 50px;
			text-align: center;
		}

		&+li {
			margin-left: 30px;
		}
	}
}

.product-size {
	position: relative;
}

.buy-button {
	height: 40px;
	padding: 0px 50px;
	font-size: 1rem;
	cursor: pointer;
	border-radius: 5px;
	text-decoration: none;
	color: #fff;
	display: inline-flex;
	align-items: center;
	outline: none;
	font-size: 14px;
	border-radius: 30px;
	background: #3e88eb;
	font-size: 14px;
	letter-spacing: 1px;
	border: none;
	border: 1px solid #3288eb;

	&:hover {
		background: #fff;
		color: #3e88eb;
		border: 1px solid #3e88eb;
	}

	&+.buy-button {
		margin-left: 10px;
	}
}

@include sm-down {
	.product-box {
		display: block;
		max-width: 100%;

		&__content {
			margin-left: 0px;
		}
	}

	.product-color {
		display: inline-flex;
	}

	.product-info {
		flex-wrap: wrap;
		margin: -10px -10px 30px;

		>li {
			padding: 10px;

			>label {
				text-align: left;
				margin-bottom: 5px;
			}

			&+li {
				margin-left: 0px;
			}
		}
	}
}