$popup-header-height:50px;
$popup-footer-height:100px;
$popup-border-radius:0px;
$popup-large:1140px;
$popup-medium:960px;
$popup-small:768px;
$popup-extra-small:576px;

.popup{
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: -1;
    opacity: 0;
    transition:all 0.3s ease 0s;
    visibility: hidden;
    overflow: auto;
    &.open{
        visibility: visible;
        display: block;
        z-index: 99;
        opacity: 1;
        .popup__wrap{
            opacity:1;
            visibility: visible;
            transform:translate3D(0,0,0);
        }
    }

    &.popup--lg{
        .popup__wrap{
            max-width: $popup-large;
        }
    }
    &.popup--md{
        .popup__wrap{
            max-width: $popup-medium;
        }
    }
    &.popup--sm{
        .popup__wrap{
            max-width: $popup-small;
        }
    }
    &.popup--xs{
        .popup__wrap{
            max-width: $popup-extra-small;
        }
    }
}

.popup__is-open{
    overflow:hidden;
}

.popup__wrap{
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    max-width: $popup-medium;
    margin: 50px auto;
    background: #fff;
    overflow: hidden;
    border-radius: $popup-border-radius;
    opacity:0;
    overflow: hidden;
    visibility: hidden;
    box-shadow:0 0 50px 0 rgba(0,0,0,.5);
    transform:translate3D(0,-105%,0);
    transition:all 0.3s ease 0s;
}

.popup__header{
    height: $popup-header-height;
    line-height: $popup-header-height;
    padding: 0px $popup-header-height 0 30px;
    background: #f1f1f1;
}

.popup__title{
    margin: 0;
    font-size: 16px;
    float: left;
    height: $popup-header-height;
    line-height: $popup-header-height;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.popup__close{
    position: absolute;
    right: 0;
    top:0;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: 0;
    &:after{
        height: $popup-header-height;
        width: $popup-header-height;
        line-height: $popup-header-height;
        font-size: 24px;
        display: block;
        text-align: center;
        content: 'close';
        font-family: 'Material Icons';
    }
}

.popup__content{
    top: $popup-header-height;
    padding: 30px;
}

.popup__footer{
    padding:20px 30px;
    text-align: right;
    background: #f1f1f1;
}


/*=========================================
~Popup Side
==========================================*/

.popup.side{
    top:0;
    bottom: 0;
    right: 0;
    left: auto;
    transform:translate3D(100%,0,0);
    border-radius: 0;
    margin: 0;
    max-width: none;
    width: 800px;
    &.open{
        top: 0;
        transform:translate3D(0,0,0);
    }
    .popup_header{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
    .popup_content{
        position: absolute;
        top: $popup-header-height;
        left: 0;
        right: 0;
        overflow: auto;
        bottom: 0;
        padding: 0 30px 30px 30px;
    }
    .popup_footer{
        position: absolute;
        bottom: 0;
        left:0;
        right: 0;
    }
}

.popup_actions{
    float: right;
    line-height: normal;
    height: $popup-header-height;
    line-height: $popup-header-height;
    border-right: 1px solid #dadada;
    >li{
        vertical-align: top;
        display: inline-block;
        border-left: 1px solid #dadada;
        .p_button{
            display: block;
            padding: 0px 10px;
            &:hover{
                text-decoration: underline;
            }
        }
    }
    .button_small{
        margin-top: ($popup-header-height - 25)/2;
    }
}
