.ss-tabs__list,
.ss-tabs__content{
    list-style: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    >li{
        white-space: normal;
    }
}

.ss-tabs__list{
    position: relative;
    z-index: 2;
    >li{
        display: inline-block;
        vertical-align: top;
        &.active{
            .ss-tabs__tab{
                &:after{
                    display: block;
                }
            }
        }
    }
}

.ss-tabs__tab{
    display: inline-block;
    white-space: nowrap;
    text-align: center;
    vertical-align: top;
    text-decoration: none;
    position: relative;
}

.ss-tabs__accordion{
    display: none;
    text-decoration: none;
    position: relative;
    &.active{
    }
}

.ss-tabs__content{
    position: relative;
    z-index: 1;
    >li{
        display: none;
    }
}

.ss-tabs__data{

}

/*
* 📣 : Full Tabs
*/
.ss-tabs--full{
    .ss-tabs__list{
        display: table;
        width: 100%;
        >li{
            display: table-cell;
            vertical-align: top;
        }
    }
    .ss-tabs__accordion{
        display: block;
        text-decoration: none;
    }
}

/*
* 📣 : Convert to accordion
*/
.ss-tabs--accordion{
    .ss-tabs__data{
        display: none;
        padding: 20px;
    }
    .ss-tabs__list{
        display: none;
    }
    .ss-tabs__content{
        >li{
            display: block!important;
        }
    }
    .ss-tabs__accordion{
        display: block;
    }
}


/*
* 📣 : Theme : Material
*/
.ss-tabs--material{
    .ss-tabs__tab{
        height: 50px;
        line-height: 50px;
        padding: 0px 15px;
        color: #555;
        position: relative;
        i,span{
            line-height: inherit;
            height: inherit;
            display: inline-block;
            vertical-align: top;
        }
        &:hover{
            &:after{
                width: 100%;
            }
        }
        &:after{
            content: '';
            height:3px;
            background: blue;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            transition:all 0.3s ease 0s;
            margin: 0 auto;
            width: 0%;
        }
    }
    .ss-tabs__list{
        >li{
            &.active{
                .ss-tabs__tab{
                    color: #000;
                    &:after{
                        width: 100%;
                    }
                }
            }
        }
    }
    .ss-tabs__data{
        margin-top: 20px;
    }
}
