meta(charset="utf-8")
meta(name="viewport" content="width=device-width,initial-scale=1.0")
meta(name="description" content="")
meta(name="keywords" content="")
link(rel="shortcut icon" href=`../img/favicon.png`)
