extends templates/default.pug
block content
	section
		.ss-container
			.product-box
				.product-box__image
					img.jq_product_image()
				.product-box__content
					h2.product-box__title.jq_product_title 
					.product-box__price.jq_product_price
						label.jq_product_price_sell 
						span.jq_product_price_old 
					p.product-box__text.jq_product_description 
					ul.ul-reset.product-info
						li
							label Color
							.product-color.jq_product_color
								
						li
							label Size
							.product-size
								select.jq_product_size()
									
						li
							label Quantity
							.product-quantity.jq_product_quntity
								button.sub.qua 
									<svg style="width:20px;height:20px" viewBox="0 0 24 24">
											<path fill="#555" d="M19,13H5V11H19V13Z" />
									</svg>
								<input type="text" id="1" value=1 class=quantity>
								button.add.qua 
									<svg style="width:20px;height:20px" viewBox="0 0 24 24">
											<path fill="#555" d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z" />
									</svg>
					a.buy-button#add_cart(href="javascript:;" target="_blank") Add to cart
					a.buy-button#buy_now(href="javascript:;" target="_blank") Buy Now