extends ../templates/default.pug
block content
    .ss-container 
        h1.title 🙋 Hello! This is 7Span UI Framework!
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
        
        
        h1.title 🔠 Typography
        table.typography
            tr
                td
                    p h1 
                td
                    h1 Lorem ipsum dolor sit amet
            tr
                td
                    p h2 
                td
                    h2 Consectetur adipiscing elit, sed do
            tr
                td
                    p h3 
                td    
                    h3 Eiusmod tempor incididunt ut labore et dolore
            tr
                td
                    p h4 
                td
                    h4 Magna aliqua ut enim ad minim veniam, quis nostrud exercitation ullamco 
            tr
                td
                    p h5 
                td
                    h5 Laboris nisi ut aliquip ex ea commodo consequat duis aute irure dolor in reprehenderit in
            tr
                td
                    p h6
                td
                    h6 Voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident
            tr
                td
                    p p 
                td
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
            tr
                td
                    p a
                td
                    a(href="#nogo") This is link!
                    
                    
        
        
        
        h1.title 🖌 Colors
        table.colors
            tr
                td.primary-color Primary
                td.accent-color Accent
        
        
        h1.title 🆗 Buttons
        table.buttons
            
            tr
                td 
                    button.button.button--large Default Button
                td 
                    button.button.button--primary.button--large Primary Button 
                td 
                    button.button.button--accent.button--large Accent Button 
                td
                    button.button.button--primary.button--line.button--large Primary Line Button 
                td
                    button.button.button--accent.button--line.button--large Accent Line Button 
            
            tr
                td 
                    button Default Button
                td 
                    button.button.button--primary Primary Button 
                td 
                    button.button.button--accent Accent Button 
                td
                    button.button.button--primary.button--line Primary Line Button 
                td
                    button.button.button--accent.button--line Accent Line Button 
                    
                    
            tr
                td 
                    button.button.button--small Default Button
                td 
                    button.button.button--primary.button--small Primary Button 
                td 
                    button.button.button--accent.button--small Accent Button 
                td
                    button.button.button--primary.button--line.button--small Primary Line Button 
                td
                    button.button.button--accent.button--line.button--small Accent Line Button 
                    
            tr
                td 
                    button.button.button--icon 
                        i.button__icon.material-icons menu
                td 
                    button.button.button--primary.button--icon
                        i.button__icon.material-icons menu
                td 
                    button.button.button--accent.button--icon
                        i.button__icon.material-icons menu
                td
                    button.button.button--primary.button--line.button--icon
                        i.button__icon.material-icons menu
                td
                    button.button.button--accent.button--line.button--icon
                        i.button__icon.material-icons menu
            
            tr
                td 
                    button 
                        i.button__icon.material-icons settings
                        span Default Button
                td 
                    button.button.button--primary 
                        i.button__icon.material-icons settings
                        span Primary Button 
                td 
                    button.button.button--accent 
                        i.button__icon.material-icons settings
                        span Accent Button 
                td
                    button.button.button--primary.button--line 
                        i.button__icon.material-icons settings
                        span Primary Line Button 
                td
                    button.button.button--accent.button--line
                        i.button__icon.material-icons settings
                        span Accent Line Button 
                        
        h1.title 🖌 Inputs
        table.inputs
            tr
                td
                    input(type="text" placeholder="Input Text")
                td
                    input(type="password" placeholder="Password")
                td
                    input(type="url" placeholder="URL")
